<!-- This is the index.html or the base page -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>what 2 watch</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- CSS stylesheet -->
  <link rel="stylesheet" type="text/css" href="assets/css/styles.css" media="screen">

</head>

<body>
  <!-- Start of Header -->
  <header>
    <div class="col-md-12 jumbotron text-center" style="background-image: url('assets/images/tv_screens_10.png')">
      <h1 style="color: white;">What2Watch2Nite</h1>
      <p style="color: white;">_______________________________________</p>
      <h2 style="color: white;">Project Overview</h2>
      <header>
        <img src="assets/images/tv_logo_2.png" alt="Logo">
        <div class=credit> Image by Depositphoto </div>
      </header>
  </header>
  <!-- Start of Navigation -->
  <nav>
    <ul>
      <li><a href="index.html">PROJECT OVERVIEW</a></li>
      <li><a href="templates/movies.html">MOVIES</a></li>
      <li><a href="templates/tv_shows.html">TV SHOWS</a></li>
      <li><a href="templates/our_team.html">OUR TEAM</a></li>
      <li><a href="https://github.com/clangstonhinton/grape_choice_project_3">GITHUB REPO</a></li>
    </ul>
  </nav>
  <!-- Start of container -->
  </div>
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-7 col-md-12"> -->
      <div class="col-md-8">
        <div class="box" style="padding-bottom: 5px;">
          <h3 class="title">Project Overview</h3>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, ut sea aliquam delicata, per vituperata dissentias ex. 
            Id expetenda voluptatum his, per ei reque euismod, ad sea albucius definitiones. 
            Ei ius alia dolor assentior, cu habemus luptatum vel. Eam an noster epicurei, eu modo suscipit definiebas vis.
 
          </p>
          <p> 
            Qui cu case ipsum, eos iriure insolens ne. Eum enim insolens temporibus an. Ei quo graeci accusamus, 
            id sit dolore vivendo docendi, autem blandit ullamcorper et has. Error impetus duo et. Splendide 
            complectitur delicatissimi eum no.

          </p>
          <p> 
            We hope you enjoy our viewing recommendation engine and your next  <span
            class="highlight">what 2 watch</span> choice!
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <!-- <div class="box", id="image-on-right", src="assets/images/wine_barn_table_square.png"></div> -->
        <br>
        <br>
        <br>
        <img id="image-on-the-right" src="assets/images/main_photo.jpg">

      </div>
      <!-- Footer -->
      <footer class="footer" style="text-align: center;">
        <span class="bottom">&copy; Copyright The-Data-Machines 2023</span>
      </footer>

</body>

</html>