<!-- Add code here for Our Team web page -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Team</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

    <!-- CSS stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/design/css/styles.css" media="screen">

</head>

<body>
    <!-- Start of Header -->
    <header>
        <div class="col-md-12 jumbotron text-center"
            style="background-image: url('../static/design/img/tv_screens_10.png')">
            <h1 style="color: white;">What2Watch2Nite</h1>
            <p style="color: white;">_______________________________________</p>
            <h2 style="color: whitesmoke;">Team 3: The-Data-Machines</h2>
            <header>
                <img src="../static/design/img/tv_logo_2.png" alt="Logo">
                <div class=credit> Image by Depositphoto </div>
            </header>
    </header>
    <!-- Start of Navigation -->
    <nav>
        <ul>
            <li><a href="index.html">PROJECT OVERVIEW</a></li>
            <li><a href="movies.html">MOVIES</a></li>
            <li><a href="tv_shows.html">TV SHOWS</a></li>
            <li><a href="our_team.html">OUR TEAM</a></li>
            <li><a href="https://github.com/OlgaDlzk/What2Watch2Nite/tree/main">GITHUB REPO</a></li>
        </ul>
    </nav>
    <!-- Containers to hold info and photos of team members -->
    <br>
    <br>
    <div class="container">
        <div class="row">
            <!-- OLEKSII SHUMSKYI -->
            <div class="col-md-2 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay=".2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="team-style07">
                    <div class="team-thumb mb-1-9">
                        <div class="thumb"><img src="../static/design/img/avatars/Oleksii_avatar_3.png"
                                class="rounded-circle" alt="..."></div>
                        <div class="team-social">
                            <ul class="styled-icons">
                                <li><a class="styled-icons-item" href="#!"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="styled-icons-item" href="https://github.com/ashumskyy"><i
                                            class="fab fa-git"></i></a></li>
                                <li><a class="styled-icons-item" href="https://www.linkedin.com/in/alexey-shumskyi"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="mb-0"><a>Oleksii Shumskyi</a></h3>
                    <p class="mb-0">Data Analyst</p>
                </div>
            </div>
            <!-- OLGA DOLZHKO -->
            <div class="col-md-2 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay=".2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="team-style07">
                    <div class="team-thumb mb-1-9">
                        <div class="thumb"><img src="../static/design/img/avatars/Olga_avatar_3.png"
                                class="rounded-circle" alt="..."></div>
                        <div class="team-social">
                            <ul class="styled-icons">
                                <li><a class="styled-icons-item" href="#!"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="styled-icons-item" href="https://github.com/OlgaDlzk"><i
                                            class="fab fa-git"></i></a></li>
                                <li><a class="styled-icons-item"
                                        href="https://www.linkedin.com/in/olga-dolzhko-a70697211/"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="mb-0"><a>Olga Dolzhko</a></h3>
                    <p class="mb-0">Data Analyst</p>
                </div>
            </div>
            <!-- CHARLIE HINTON -->
            <div class="col-md-2 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay=".4s"
                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <div class="team-style07">
                    <div class="team-thumb mb-1-9">
                        <div class="thumb"><img src="../static/design/img/avatars/charlie_avatar_3.png" class="rounded-circle"
                                alt="...">
                        </div>
                        <div class="team-social">
                            <ul class="styled-icons">
                                <li><a class="styled-icons-item" href="#!"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="styled-icons-item" href="https://github.com/clangstonhinton"><i
                                            class="fab fa-git"></i></a></li>
                                <li><a class="styled-icons-item"
                                        href="https://www.linkedin.com/in/charlielangstonhinton"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="mb-0"><a>Charlie Hinton</a></h3>
                    <p class="mb-0">Data Analyst</p>
                </div>
            </div>
            <!-- ALEX ROSENBERG -->
            <div class="col-md-2 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay=".5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="team-style07">
                    <div class="team-thumb mb-1-9">
                        <div class="thumb"><img src="../static/design/img/avatars/Alex_avatar_3.png"
                                class="rounded-circle" alt="..."></div>
                        <div class="team-social">
                            <ul class="styled-icons">
                                <li><a class="styled-icons-item" href="#!"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="styled-icons-item" href="https://github.com/ARmax34"><i
                                            class="fab fa-git"></i></a></li>
                                <li><a class="styled-icons-item"
                                        href="https://www.linkedin.com/in/alexanderrosenberg34/"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="mb-0"><a>Alex Rosenberg</a></h3>
                    <p class="mb-0">Data Analyst</p>
                </div>
            </div>
            

            <!-- Footer -->
            <footer class="footer" style="text-align: center;">
                <span class="bottom">&copy; Copyright The-Data-Machines 2023</span>
            </footer>

</body>

</html>