<!-- This is the code for the TV SHOW RECOMMENDATION ENGINE web page -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TV SHOWS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Highchart library JS-->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/streamgraph.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>


  <!-- CSS stylesheet -->
  <link rel="stylesheet" type="text/css" href="../static/design/css/styles.css" media="screen">

</head>

<body>
  <!-- Start of Header -->
  <header>
    <div class="col-md-12 jumbotron text-center" style="background-image: url('../static/design/img/tv_screens_10.png')">
      <h1 style="color: white;">What2Watch2Nite</h1>
      <p style="color: white;">_______________________________________</p>
      <h2 style="color: white;">TV Show Recommendations</h2>
      <header>
        <img src="../static/design/img/tv_logo_2.png" alt="Logo">
        <div class=credit> Image by Depositphoto </div>
      </header>
  </header>
  <!-- Start of Navigation -->
  <nav>
    <ul>
      <li><a href="index.html">PROJECT OVERVIEW</a></li>
      <li><a href="movies.html">MOVIES</a></li>
      <li><a href="tv_shows.html">TV SHOWS</a></li>
      <li><a href="our_team.html">OUR TEAM</a></li>
      <li><a href="https://github.com/OlgaDlzk/What2Watch2Nite/tree/main">GITHUB REPO</a></li>
    </ul>
  </nav>
  <div class="row text-center">
    <h2>Use the <span class="highlight2">dropdown menu</span> below to find your next <span
        class="highlight">What2Watch</span> TV show tonight</h2>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <br> <br>
          <h6 class="panel-title">Favorite TV Series</h6>
          <hr>
          <!-- Add Type of Type Dropdown Menu-->
          <select id="dropdownType" onchange="optionChanged(this.value)"></select>
          <br>
          <br>
      
  


  <!-- Footer -->
  <footer class="footer" style="text-align: center;">
    <span class="bottom">&copy; Copyright The-Data-Machines 2023</span>
  </footer>

</body>

</html>