/* Nav Bar Options */
nav {
    background-color: #171597;
    align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
	font-size: 16px;
    
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    color: #b8b7b7; 
    text-decoration: none; /* Remove the underline on the hover */
  }

.movie {
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	resize: none;
}

.movie-content {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
}

.movie-content > div {
    margin:20px;
}

.btn-block{
	width: 15%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #e4e0e0;
}

.background-image {
    background-image: url("../img/reco_bkgrnd_photo_2.jpg");
	background-color: #181818;
    background-position: center;
    height: 50000%;
}

/* Logo overlay on top of  Background Image */
header img:last-of-type {
    height: 150px;
    width: 225px;
    position: absolute; /* Set the logo element as absolute positioned */
    top: 75px; /* Adjust top, right, bottom, left values as needed to position the logo */
    left: 100px;
  }

#content {

	font-family: 'Noto Sans JP', sans-serif;
}

#details {
	margin-left: 50px;
}


/* Footer */
footer {
	background-color: #171597;
	/* border-top-style: solid;
	border-top-width: 20px; */
	/* border-top-color: #171597; */
	color: white;
	min-height: 40px;
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 15px;
  
  }

h1 {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    font-weight: bold;
    margin-top: 50px;
	font-size: 52px;
    /* text-shadow: #000000 0px 0px 13px; */
 }

 h2 {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #3457f1;
    font-weight: bold;
    /* margin-top: 5px; */
    text-shadow: #000000 0px 0px 13px;
 }

 .btn-primary btn-block movie-button {
    
    color: #3457f1;
    background-color: #3457f1;
	border-color: #3457f1;
 }

.github-corner:hover .octo-arm {
  	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

#autoComplete {
  background-position: 98% ;
}

#name {
	color: white;
	padding: 1px;
}

h6 {
    margin-bottom: 20px;  
}

@media only screen and (max-width: 650px) {
    #mcontent {
      display: block;
    }
    .poster-lg {
      display: none;
    }
    #details {
		margin-left: 30px;
	}
    #loader {
		display: none;
		position: fixed;
		z-index: 100;
		left: 0;
		top:0;
		width: 100%;
		height: 100%;
		background-image: url("../img/reco_bkgrnd_image.jpg");
		background-size: 40%;
		background-position: 50% 50%;
		background-color: rgba(255, 255, 255, 1);
		background-repeat: no-repeat;
		-webkit-transition: background-image 0.2s ease-in-out;
		transition: background-image 0.2s ease-in-out;
	}

	#loader-text {
		vertical-align: middle;
		color:white;
	}

	#autoComplete {
	  background-position: 97% ;
	}
	
	svg[data-toggle=tooltip] {
		width: 50px;
		height: 50px;
	}
}

@media only screen and (max-width: 991px) {
	.modal-body{
		display: block;
	}
	.profile-pic {
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-bottom: 20px;
	}
}
@media only screen and (min-width: 992px) {
	.modal-body {
		display: flex;
	}
}

@media only screen and (min-width: 651px) {
  .poster-sm {
    display: none;
   }

	#mcontent {
		display: flex;
		flex-wrap: nowrap;
	}

	#loader {
		display: none;
		position: fixed;
		z-index: 100;
		left: 0;
		top:0;
		width: 100%;
		height: 100%;
		background-image: url("../img/reco_bkgrnd_image.jpg");
		background-size: 20%;
		background-position: 50% 50%;
		background-color: rgba(255, 255, 255, 1);
		background-repeat: no-repeat;
		-webkit-transition: background-image 0.2s ease-in-out;
		transition: background-image 0.2s ease-in-out;
	}

	#loader-text {
		vertical-align: middle;
		color:white;
	}

}

.poster{
    -webkit-box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
    -moz-box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
    box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
}

.card:hover {
	cursor: pointer;
}

.castcard:hover {
    cursor: pointer;
}

.cast-img {
	filter: brightness(100%);
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
	transition: all 0.75s ease;
}


.cast-img:hover {
	filter: brightness(50%);
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.fig {
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: brightness(50%);
	position: absolute;
	bottom: 0px;
	top: 0px;
	right: 0px;
	left: 0px;
	opacity: 0;
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.fig:hover {
	opacity: 1;
	backdrop-filter:br;
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.card-btn {
	border-radius: 20px;
}

.imghvr {
	position: relative;
}

.table td {
    border-color: white;
    border-style:solid; 
    border-width:1px;
}

.fail {
	display: none;
	color: white;
}


.grid-item {
	position: relative;
	text-align: center;
  }
  
  .grid-item .image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.3s ease;
	cursor: pointer;
  }
  
  .grid-item:hover .image-overlay {
	opacity: 1;
  }
  
  .poster-title {
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	margin-top: 10px;
	text-align: center;
  }

  .grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr); 
	grid-gap: 20px; 
  }

